<header class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="m-0"><i class="fa fa-bank"></i> Accounts Project</h1>
      </div>
      <div class="col-auto">
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/"
                ><i class="fa fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/addAccount"
                ><i class="fa fa-plus"></i> Add Account</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
