<header class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1 class="m-0"><i class="fa fa-bank"></i> Accounts Project</h1>
      </div>
      <div class="col-auto">
        <nav>
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/"
                ><i class="fa fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/addAccount"
                ><i class="fa fa-plus"></i> Add Account</a
              >
            </li>
            <!-- <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0" th:action="@{/searchByAccountType}" method="post">
                                <div class="input-group">
                                    <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search By Acc Type" aria-label="Search" name="query">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success rounded-0 my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </li> -->
            <!-- <li class="nav-item ml-3 px-3">
              <form
                class="form-inline my-2 my-lg-0"
                th:action="@{/searchByAccountHolder}"
                method="post"
              > -->
            <!-- <div class="input-group">
                  <input
                    class="form-control rounded-0 mr-sm-2"
                    type="search"
                    placeholder="Search By Acc Holder"
                    aria-label="Search"
                    name="query"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-success rounded-0 my-2 my-sm-0"
                      type="submit"
                    >
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </form>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
