<main class="my-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2 class="text-center mb-4">Create New Account</h2>
        <form #form="ngForm" (ngSubmit)="addAccount(form)" class="mb-5 pb-5">
          <div class="mb-3">
            <label for="accountType" class="form-label">Account Type</label>
            <select
              class="form-select"
              id="accountType"
              name="accountType"
              required
              ngModel
              #accountType="ngModel"
            >
              <option value="Checking">Checking</option>
              <option value="Investment">Investment</option>
              <option value="Savings">Savings</option>
            </select>
            <div
              class="alert alert-danger"
              *ngIf="accountType.touched && !accountType.valid"
            >
              <i class="fa fa-exclamation-triangle mx-3"></i>
              <span *ngIf="accountType.errors?.['required']"
                >Please select a valid account type.</span
              >
            </div>
          </div>
          <div class="mb-3">
            <label for="accountBalance" class="form-label"
              >Account Balance</label
            >
            <input
              type="number"
              th:field="*{accountBalance}"
              class="form-control"
              id="accountBalance"
              name="accountBalance"
              step="0.5"
              required
              min="0"
              ngModel
              #accountBalance="ngModel"
            />
            <div
              class="alert alert-danger"
              *ngIf="accountBalance.touched && !accountBalance.valid"
            >
              <i class="fa fa-exclamation-triangle mx-3"></i>
              <span *ngIf="accountBalance.errors?.['required']"
                >Balance cannot be empty.</span
              >
              <span *ngIf="accountBalance.errors?.['min']"
                >Balance cannot be less than 0.</span
              >
            </div>
          </div>
          <div class="mb-3">
            <label for="accountHolder" class="form-label">Account Holder</label>
            <input
              type="text"
              th:field="*{accountHolder}"
              class="form-control"
              id="accountHolder"
              name="accountHolder"
              required
              ngModel
              #accountHolder="ngModel"
            />
            <div
              class="alert alert-danger"
              *ngIf="accountHolder.touched && !accountHolder.valid"
            >
              <i class="fa fa-exclamation-triangle mx-3"></i>
              <span *ngIf="accountHolder.errors?.['required']"
                >Account holder cannot be empty.</span
              >
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!form.valid"
          >
            Add New Account
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
